* {
	margin: 0px;
	padding: 0px;
}

.label {
	font-size: 0.75rem;	
	font-weight: bold;	
}

.input {
	font-size: 0.75rem;	
}

.control {
	font-size: 0.75rem;	
	margin-top: 6px;
	margin-bottom: 10px;
}

.card {
	padding: 5px;
}
.add-new-resource {
	text-align: right;
}

.table  {
	font-size:12px;
}

.table>thead  {
	font-size:14px;
}

.view_button {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 3px 12px;
    margin: 0px 0px;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
}
